@media (max-width: 641px) {
    .form-flex-container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 641px) {
    .form-flex-container {
        display: flex;
        flex-direction: row;
    }

    .fill-column {
        min-width: 641px;
    }

    .close-button {
        left: 40%;
        position: relative;
    }
}

.flex-item {
    flex: 1;
    padding: 10px 50px 10px 10px;
    display:inline-grid;
}

.input-textbox {
    max-width: 240px;
}

.container-spacing {
    padding-top: 20px;
}

.input-checkbox{
    margin-bottom:.5rem; /*To match form label*/
    margin-left: 10px;
}

.checkbox-form-group{
    display:flex;
    flex-direction:row;
}

.custom-header {
    display:flex;
   
}
